# cdnjs npm auto-update: cna
snippet cna "npm auto-update"
"npmName": "",
"npmFileMap": [
  {
    "basePath": "",
    "files": [
      ""
    ]
  }
],
endsnippet

# cdnjs git auto-update: cga
snippet cga "git auto-update"
"autoupdate": {
  "source": "git",
  "target": "git://github.com/",
  "fileMap": [
    {
      "basePath": "",
      "files": [
        ""
      ]
    }
  ]
},
endsnippet
